span.css-10trblm.e16nr0p33{
    color:darkred;
}

section.main.css-1v3fvcr.egzxvld1{
    background-color:white;
}
div.css-2w9zj8.e1fqkh3o3{
    background-color: darkred;
}
section.css-1lcbmhc.e1fqkh3o0{
    background-color: darkred;
}